In [4]:
import pandas as pd
import numpy as np 
import netCDF4
import h5py

In [1]:
import h5py
fp = r"D:\Projects\precipitation_AUS\dataset/noaa_obs_2014-2024.nc4"
nc = h5py.File(fp )

In [2]:
def nc_to_pd(nc):
    Keys = list(nc.keys())
    Panda = {}
    for k in Keys:
        Panda[k]= np.array(nc[k])
    PD = pd.DataFrame( Panda )
    return PD

In [5]:
df  = nc_to_pd(nc)

In [6]:
df.head()

,DATE,DAY,DEWP,DEWP_ATTRIBUTES,ELEVATION,FRSHTT,GUST,LATITUDE,LONGITUDE,MAX,...,STP_ATTRIBUTES,TEMP,TEMP_ATTRIBUTES,Unnamed: 0.1,VISIB,VISIB_ATTRIBUTES,WDSP,WDSP_ATTRIBUTES,YEAR,dim_0
0,b'2014-01-01',1,61.8,24,6.09,10000,999.9,-34.945,138.530556,91.2,...,6,72.3,24,NaN,7.0,18,7.9,24,2014,0
1,b'2014-01-02',2,59.0,24,6.09,10000,999.9,-34.945,138.530556,73.6,...,6,66.0,24,NaN,6.9,23,6.7,24,2014,1
2,b'2014-01-03',3,50.3,24,6.09,10000,999.9,-34.945,138.530556,71.2,...,5,65.2,24,NaN,7.1,24,16.8,24,2014,2
3,b'2014-01-04',4,47.8,24,6.09,0,999.9,-34.945,138.530556,71.2,...,5,65.6,24,NaN,7.9,22,13.1,24,2014,3
4,b'2014-01-05',5,47.5,24,6.09,10000,32.1,-34.945,138.530556,71.1,...,5,63.8,24,NaN,8.0,23,16.6,24,2014,4

In [7]:
del df['dim_0']
del df['Unnamed: 0.1']

In [8]:
unq_st = df['NAME'].unique()

In [9]:
List =[ ]
for u in unq_st:
    qu = df[ df['NAME'] == u ]
    n_d = len(qu)
    min_y = qu['YEAR'].min()
    max_y = qu['YEAR'].max()
    List.append(  list(qu.values[0]) + [n_d , min_y , max_y]   )

In [10]:
stations = pd.DataFrame(List , columns= list(df.keys()) + ['number_of_data'  , 'min_year'  , 'max_year' ]  )

In [43]:
stations

,DATE,DAY,DEWP,DEWP_ATTRIBUTES,ELEVATION,FRSHTT,GUST,LATITUDE,LONGITUDE,MAX,...,TEMP,TEMP_ATTRIBUTES,VISIB,VISIB_ATTRIBUTES,WDSP,WDSP_ATTRIBUTES,YEAR,number_of_data,min_year,max_year
0,b'2014-01-01',1,61.8,24,6.09,10000,999.9,-34.945000,138.530556,91.2,...,72.3,24,7.0,18,7.9,24,2014,3721,2014,2024
1,b'2014-01-01',1,61.5,12,17.37,0,999.9,-34.793333,138.633056,93.0,...,71.7,12,999.9,0,7.2,12,2014,3724,2014,2024
2,b'2014-01-01',1,9999.9,0,5.00,0,999.9,-15.516667,123.150000,86.7,...,84.5,8,999.9,0,8.8,8,2014,3122,2014,2024
3,b'2014-01-01',1,55.9,16,95.00,10000,999.9,-38.450000,144.100000,69.4,...,61.3,16,999.9,0,10.8,16,2014,3714,2014,2024
4,b'2014-01-01',1,47.4,16,69.00,0,999.9,-34.941400,117.802200,72.9,...,62.3,16,999.9,0,6.1,16,2014,3702,2014,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,b'2020-06-17',17,57.9,5,234.69,0,999.9,-22.057778,148.077500,71.2,...,64.4,5,999.9,0,9.6,5,2020,1357,2020,2024
515,b'2020-12-02',2,39.6,8,193.00,0,999.9,-36.940000,145.050000,68.7,...,58.4,8,999.9,0,8.2,8,2020,1193,2020,2024
516,b'2020-07-21',21,41.9,6,55.00,0,999.9,-38.083000,144.333000,50.7,...,46.7,6,999.9,0,5.0,6,2020,1325,2020,2024
517,b'2021-11-03',3,56.5,24,110.00,10000,999.9,-35.667000,145.617000,77.9,...,60.9,24,999.9,0,3.5,24,2021,863,2021,2024
518,b'2022-08-03',3,43.3,21,338.00,0,999.9,-30.283333,116.666667,59.2,...,51.6,21,999.9,0,8.4,21,2022,590,2022,2024

In [45]:
st_df = stations[ [  'STATION' ,  'NAME'  ,  'LATITUDE'  , 'LONGITUDE'  ,   'ELEVATION'   , 'number_of_data' , 'min_year'  , 'max_year'  ] ]

In [51]:
output = 'D:\Projects\precipitation_AUS\stations_noaa_in_dataset.xlsx'
st_df.to_excel( output )

In [21]:
import time
from joblib import Parallel, delayed

def countdown(n):
    while n>0:
        n -= 1
    return n


t = time.time()
for _ in range(20):
    print(countdown(10**7), end=" ")
print(time.time() - t)  
# takes ~10.5 seconds on medium sized Macbook Pro


t = time.time()
results = Parallel(n_jobs=2)(delayed(countdown)(10**7) for _ in range(20))
print(results)
print(time.time() - t)
# takes ~6.3 seconds on medium sized Macbook Pro

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 11.08108901977539
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
7.318249940872192

In [28]:
results = Parallel(n_jobs=5)(delayed(countdown)(10**7) for _ in range(20))

In [23]:
results

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]